html {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: rgb(119, 119, 119);
  color: rgb(255, 255, 255);
}

body {
  background-color: rgb(95, 150, 130)
}

h1 {
  background-color: rgb(83, 191, 178);
  font-size: 60px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

footer {
  background-color: rgb(230, 138, 63);
}

a {
  color: rgb(252, 146, 58);
}
